<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.docx4j" level="ERROR" />
    <logger name="org.apache.fop" level="ERROR" />
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>